<!-- About -->

{% trans_default_domain 'app' %}

<section class="page-section" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase">{{ 'nav.about'|trans }}</h2>
				<h3 class="section-subheading text-muted">{{ 'about.description'|trans }}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<ul class="timeline">
                    {% for key, about in abouts %}
                        {% if key is divisible by(2) %}
                        <li>
                        {% else %}
                        <li class="timeline-inverted">
                        {% endif %}
						<div class="timeline-image">
							<img class="rounded-circle img-fluid" src="{{ vich_uploader_asset(about, 'imageFile') }}" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>{{ about.date }}</h4>
								<h4 class="subheading">{{ about.title }}</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">{{ about.description }}</p>
							</div>
						</div>
					</li>    
                    {% endfor %}
					<li class="timeline-inverted">
						<div class="timeline-image">
							<h4>{{ 'about.join.firstLine'|trans }}
								<br>{{ 'about.join.secondLine'|trans }}
								<br>{{ 'about.join.thirdLine'|trans }}!</h4>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
