<!-- Domain -->

{% trans_default_domain 'app' %}

<section class="page-section" id="domains">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase">{{ 'domain.title'|trans }}</h2>
				<h3 class="section-subheading text-muted">{{ 'domain.description'|trans }}</h3>
			</div>
		</div>
		<div class="row">
			{% for domain in domains %}
				<div class="col-sm-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="{{ vich_uploader_asset(domain, 'imageFile') }}" alt="">
						<h4>{{ domain.type }}</h4>
						<p class="text-muted">{{ domain.description }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-lg-8 mx-auto text-center">
				<p class="large text-muted">{{ 'domain.conclusion'|trans }}</p>
			</div>
		</div>
	</div>
</section>
