<!-- Navigation -->

{% trans_default_domain 'app' %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
	<div class="container">
		<a class="navbar-brand js-scroll-trigger" href="#page-top">{{ websiteConfig.webSiteTitle }}</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			{{'nav.menu'|trans}}
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav text-uppercase ml-auto">
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#services">{{ 'nav.service'|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#domains">{{ 'nav.domains'|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#portfolio">{{ 'nav.portFolio'|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#about">{{ 'nav.about'|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#contact">{{ 'nav.contact'|trans }}</a>
				</li>
				{% set currentLocal = appLocales[app.request.getLocale()] %}
				{% if currentLocal == "en" %}
					{% set flagLocal = "gb" %}
				{% else %}
					{% set flagLocal = currentLocal %}
				{% endif %}
				<li class="nav-item dropdown">			
					<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="flag-icon flag-icon-{{flagLocal}}"> </span> {{currentLocal}}
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdown09">
						
						{% for locale in appLocales %}
							{% if locale != currentLocal %}
								{% if locale == "en" %}
									{% set flagLocal = "gb" %}
								{% else %}
									{% set flagLocal = locale %}
								{% endif %}
								<a class="dropdown-item" href="{{ path('homepage', { '_locale': locale }) }}"><span class="flag-icon flag-icon-{{flagLocal}}"> </span>  {{locale}}</a>
							{% endif %}
						{% endfor %}
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
